/* Fontes Utilizadas:
  font-family: 700 'Poppins', sans-serif;
  font-family: 700/400 'Roboto', sans-serif;
  cores utilizadas: #290742, #9E6DC2, #f7eeff, #4fff4b,*/

/*---- RESET ----*/

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  background: #290742;
  padding: 4% 8.5%;
  display: inline-flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

article {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}


h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #9E6DC2;
  width: 40.5625rem;
  height: 10.125rem;
  line-height: 54px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: white;
  width: 33.3125rem;
  height: 5.125rem;
  padding-top: 1rem;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  margin: 0rem 0rem 1rem 0rem;
  text-align: center;
  max-width: 25rem;
}

h4 {
  font-weight: 400;
  font-size: 16px;
  width: 31.3990rem;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 100vw;
  height: 100px;
  display: flex;
  background: #f7eeff;
  align-items: center;
  justify-content: center;
}


/*---- Nav ----*/

#logoNav {
  display: flex;
}

.navItems {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-left: 2px solid #290742;
  align-items: center;

}

li:hover {
  padding-left: 5px;
  transition: 100ms;
  border-left: 2px solid #4fff4b;
  font-weight: 700;
}

.mobileMenu {
  display: none;
  cursor: pointer;
}

.mobileMenu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  nav {
    justify-content: space-between;
  }

  .navItems {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #290742;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .navItems li {
    margin-left: 0;
    opacity: 1;
  }

  .mobileMenu {
    display: block;
    transform: 0.3s;
  }

  .searchCon {
    visibility: hidden;
    width: 0;
    height: 0;
  }

}

.mobileMenu.active .line1 {
  transform: rotate(45deg) translate(8px, 8px);
}

.mobileMenu.active .line2 {
  opacity: 0;
}

.mobileMenu.active .line3 {
  transform: rotate(-45deg) translate(5px, -7px);
}

.navItems.active {
  transform: translateX(0);
}

.searchCon {
  display: flex;
}

#inputPesquisa {
  display: flex;
  border: none;
  outline: none;
  height: 2.75rem;
  width: 14.375rem;
  color: white;
  background-color: #170027;
  border-radius: 4px 0px 0px 4px;
  padding-left: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/*-- Tirar aparencia do botão de apagar do Input --*/
#inputPesquisa::-webkit-search-cancel-button {
  appearance: none;
}

/*-----------------------------------------*/

#botaoSearch {
  width: 4.375rem;
  height: 2.75rem;
  background-color: #9E6DC2;
  border: none;
  outline: none;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

/*---- Apresentation Post ----*/

.apresentation {
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0rem 8.5% 5rem 8.5%;
  background: #290742;
  border-bottom: #4fff4b solid 0.3rem;
}


#vejaMais {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: flex-start;
  color: #9E6DC2;
  padding-top: 2rem;
  width: 140px;
  max-width: 10rem;
}

#setaLink {
  vertical-align: bottom;
  margin-left: 0.5rem;
  width: 2rem;
  height: auto;
}

#featuredImage {
  width: 40.625rem;
  height: 22.625rem;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.368);
}

/*---- news ----*/

.news {
  flex-wrap: wrap;
  display: flex;
  grid-template-rows: 33rem;
  grid-template-columns: 31rem;
  column-gap: 2.5rem;
  background: #FBF6FF;
  padding: 5rem 8.5%;
  align-items: center;
}

.imagesPosts {
  align-items: center;
  width: 31rem;
  margin-top: 1rem;
}

.post2Img {
  width: 28rem;
  align-items: center;
  justify-content: center;
}

.datePost {
  margin: 1rem 0rem 1rem 0rem;
  font-weight: 400;
  font-size: 16px;
}

#limiteH3 {
  width: 25rem;
}

#post2 {
  grid-column: 2;
}


#post3 {
  grid-column: 3;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: none;
  border: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #290742;
}

h4:hover,
h3:hover {
  text-decoration: underline;
}